# Byte-compiled / optimized / DLL files
.vs
CharpCompare/bin
CharpCompare/obj
CompCSharpDLL/bin
CompCSharpDLL/obj
CompareUI/bin
CompareUI/obj
CompareInterfaces/bin
CompareInterfaces/obj
*.csproj.user
